{% extends 'app/base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}

{% block main-content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <h1 class="display-4">Chụp khuôn mặt</h1>
      <form action="" method="post" class="mt-4">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-lg" id="face-taker-btn">Bắt đầu chụp</button>
      </form>
      <div id="status" class="mt-3"></div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  fetch('/face-taker-btn')
    .then(response => response.json())
    .then(data => {
      alert(data.message);
    });
</script>
{% endblock main-content %}